html {
    height: 100%;
    /*position: relative;
    min-width:768px;
    color:#58697a;*/
}
body {
    height: 100%;
    font:normal 1em 'fira_sanslight';
    background: url(../img/comppattern2.png); /* Путь к фоновому изображению */
    color:#58697a;
    /*margin-bottom: 80px;*/
}
@font-face {
    font-family: 'fira_sanslight';
    src: url('../fonts/firasans-light.eot');
    src: url('../fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light.woff') format('woff'),
         url('../fonts/firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'fira_sansbook';
    src: url('../fonts/firasans-book.eot');
    src: url('../fonts/firasans-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-book.woff') format('woff'),
         url('../fonts/firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* класс обертки с футером внизу*/
.wrapper{
    position:relative;
    min-height:100%;
    min-width: 970px;
    height: auto !important;
    overflow:hidden;
}
.wraper:after{
    content: "";
    height: 80px;
    display: block;
}
/* END - класс обертки с футером внизу*/

/*шапка сайта*/
.container-big{
    max-width: 1200px;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container-big:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #1c667a;
    background: -webkit-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
    background: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
}
.page-header{
    height:119px;
    background: #eff3f7;
    position: relative;
    margin-bottom: 39px;
}
.page-header .header-logo-link{
    position: absolute;
    top: 39px;
    left: 0;
}
.page-header .header-logo-text{
    position: absolute;
    left: -9999px;
}
.page-header .socials{
    position: absolute;
    right: 0;
    top: 36px;
}
/*социальные иконки*/
.socials{
    margin: 0;
    padding: 0;
    min-width: 260px;
}
.socials .socials-item {
    list-style: none;
    display: inline-block;
    height: 47px;
    width:47px;
    margin-left: 19px;
}
.socials .socials-item:first-child{
    margin-left:0;
}
.socials .socials-link {
    display:block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: url('../img/soc-sprite-icon.png') no-repeat;
}
.socials .socials-link.fb {
    background-position: 0 0;
}
.socials .socials-link.fb:hover {
    background-position: -47px 0;
}
.socials .socials-link.gt {
    background-position: -94px 0;
}
.socials .socials-link.gt:hover{
    background-position: -141px 0;
}
.socials .socials-link.tw {
    background-position: -188px 0;
}
.socials .socials-link.tw:hover {
    background-position: -235px 0;
}
.socials .socials-link.vk {
    background-position: -282px 0;
}
.socials .socials-link.vk:hover {
    background-position: -329px 0;
}
/*END - социальные иконки*/
/*END - шапка сайта*/

/*левый сайдбар*/
.left-sidebar{
    width: 250px;
    float: left;
}
/*END-левый сайдбар*/

/*навигация*/
.navigation{
    overflow: hidden;
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
    width: 250px;
}
.navigation-list{
    list-style: none;
    margin:0;
    padding: 0;
    margin-bottom: 26px;
}
.navigation .navigation-item{
    border-top:2px solid #3ba8c0;
    margin:0 10px;
}
.navigation .navigation-item:first-child{
    border-top:0px solid #3ba8c0;
    margin:0 10px;
}

/*навигация текущий пункт*/
.navigation .navigation-item.current{
    background: #3ba8c0;
    margin: 0;
    border-bottom: none;
    padding-left:10px;
    margin-bottom: -2px;
}
.navigation .navigation-item.current .navigation-link{
    color: #f9fafb;
    font-size: 22px;
}
/*END - навигация текущий пункт*/
.navigation .navigation-link{
    font-family: 'fira_sansbook';
    display: block;
    font-size: 20px;
    text-decoration: none;
    color:#959aa8;
    margin-left: 16px;
    padding: 20px 0px;
}
.navigation .navigation-link:hover{
    color: #3ba8c0;
}
/*END-навигация*/

/*контакты - левый блок*/
.contacts{
    overflow: hidden;
    background: #3ba8c0;
    border-radius: 4px;
    margin-bottom: 26px;
    width: 250px;
}
.contacts .contacts-list{
    list-style: none;
    margin:0;
    padding: 0;
    color: #fff;
}
.contacts .contacts-item{
    margin:0px;
}
.contacts .mail{
    background: #41b9d4 url(../img/mail.png) 34px center no-repeat;
}
.contacts .tel{
    background:#48cbe8 url(../img/tel.png) 34px center no-repeat;
}
.contacts .skype{
    background:#51daf8 url(../img/skype.png) 34px center no-repeat;
}
.contacts .contacts-header{
    font-family: 'fira_sansbook';
    font-size: 21px;
    font-weight: normal;
    color:#fff;
    margin: 0;
    padding: 13px 0 6px 19px;
    display: inline-block;
}
.contacts .contacts-link{
    font-family: 'fira_sansbook';
    display: block;
    font-size: 17px;
    text-decoration: none;
    color:#fff;
    padding: 10px 0 10px 70px;
}
.contacts .contacts-link:hover{
    text-decoration:underline;
}
/*END контакты - левый блок*/

/*главная область*/
.variable-content{
    width: 650px;
    float: right;
    border-radius: 4px;
}
/*главная область*/

/*футер*/
.page-footer{
    height: 80px; /**/
    min-width: 970px;
    color: #4a545d;
    font-family: 'fira_sanslight';
    background: #eff3f7;
}
.page-footer:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #1c667a;
    background: -webkit-linear-gradient(left, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
    background: linear-gradient(to right, rgba(28, 102, 122, 0.9) 0%, rgba(246, 250, 254, 0.9) 0%, rgba(216, 216, 216, 0.9) 0%, rgba(242, 246, 250, 0.9) 0%, rgba(28, 102, 122, 0.9) 48%, rgba(242, 246, 250, 0.9) 100%);
}
.page-footer .container {
    padding-top:23px;
    position: relative;
}
.page-footer .copyright{
    margin: 0 180px;
    padding-top:7px;
    text-align: center;
    font-size: 13px;
}
/*Логин*/
.page-footer .lock{
    position: absolute;
    top:26px;
    left:20px;
}
.lock .lock-inner{
    display: block;
    height:32px;
    width:20px;
    font-family: 'fira_sansbook';
    font-size:16px;
    line-height: 2.2;
    color:#4a545d;
    text-decoration: none;
    background: url(../img/lock-close.png) no-repeat;
    text-indent: -9999px;
}
.lock .lock-inner:hover{
    text-decoration: none;
    background: url(../img/lock-open.png) no-repeat;
    height:32px;
    width:20px;
}
/*End - Логин*/
/*End - футер*/

/* общие классы*/
.container{
    width:960px;
    margin: 0 auto;
}
.text-center{
    text-align:center;
}
.pull-left{
    float: left !important;
}
.pull-right{
    float: right !important;
}
/*clearfix*/
.container:before,.clearfix:before,
.container:after,.clearfix:after{
    content: " ";
    display: table;
}
.container:after, .clearfix:after{
    clear:both;
}
/*END - clearfix*/

/* END общие классы*/


/*страница обо мне*/
.aboutbox{
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}
.aboutbox .aboutbox-header{
    font-family: 'fira_sansbook';
    font-size: 27px;
    font-weight: normal;
    color:#3ba8c0;
    border-bottom: 2px #3ba8c0 solid;
    margin: 0 0 23px 0;
    padding: 13px 23px;
    display: inline-block;
}
.aboutbox-body{
    padding-bottom: 40px;
    padding-right: 10px;
}
.image-wrap{
    float: left;
    margin-left: 55px;
    margin-top: 18px;
}
.avatar-box{
    width: 142px;
    height:142px;
    border-radius: 50% 50%;
    overflow: hidden;
    border:5px solid #3ba8c0;
}
.avatar{
    width:100%;
}
.aboutbox .worksheet-wrap{
    float:right;
    width: 400px;
}
.worksheet-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.worksheet-info{
    float:left;
    margin-left:25px;
    max-width: 260px;
}
.worksheet-item{
    margin-bottom: 8px;
}
.worksheet-what{
    font-family: 'fira_sansbook';
    font-size: 16px;
    float: left;
}
.worksheet-info{
    font-family: 'fira_sansbook';
    font-size: 15px;
    overflow: hidden;
    max-width: 218px;
}
.worksheet-info .skills-list{
    width: 224px;
    padding: 0;
    list-style: none;
}
.skills-list .skill-item{
    display: inline-block;
    font-family: 'ProximaNovaCondenseSemibold';
    background: #3ba8c0;
    border-radius:4px;
    padding: 0 7px;
    margin-right:6px;
    color:white;
    line-height: 1.2;
    min-width: 40px;
    text-align: center;
}

.aboutbox .aboutbox-list{
    list-style: none;
    padding: 0 0 0 50px;
    margin: 0;
}
.aboutbox .aboutbox-item:last-child{
    margin-bottom: 0;
}
.aboutbox-item{
    margin-bottom:20px;
    padding-left: 60px; 
}
.aboutbox-item .where{
    font-family: 'fira_sansbook';
    font-size: 16px;
}
.aboutbox-item .period{
    font-family: 'fira_sanslight';
    font-size: 15px;
    line-height: 1;
}
.aboutbox-item.icon-work{
    background: url(../img/portfel.png) left no-repeat;
}
.aboutbox-item.icon-college{
    background: url(../img/college.png) left no-repeat;
}
.aboutbox-item.icon-course{
    background: url(../img/course.png) left no-repeat;
    background-position:10px; 
}
/*страница обо мне*/
/*страница контакты*/
.contact-page-header{
    font-family: 'fira_sansbook';
    font-size: 25px;
    font-weight: normal;
    color:#fff;
    border-bottom: 2px #3ba8c0 solid;
    padding: 40px 0; 
    margin: 0 0 40px;
    text-align: center;
    background: #48cbe8;
    border-bottom: 17px solid #67dffa;
    overflow: hidden;
    border-radius: 4px;
}
.contactbox{
    background: #eff3f7;
    margin-bottom: 40px;
    border-radius: 4px;
}

/*END-страница контакты*/

/*страница мои работы*/
.aboutbox{
    background: #eff3f7;
    border-radius: 4px;
    margin-bottom: 26px;
}
.work-list{
    display: block;
}
.work-item{
    width: 180px;
    margin-left: 23px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}
.work-item-add{
    width: 176px;
        height: 130px;
    margin-left: 23px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
    border:2px dashed #3ba8c0;
    border-radius: 6px;
}
.work-img-add{
    background-color: #edf8fc;
    text-align: center;
    background-image: url(../img/image-add.png);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 130px;
}
.work-img-add .add-link{
    padding:85px 0 16px 0;
    display: block;
    text-decoration: none;
    color: #3ba8c0;
}
.img-works{
    width: 176px;
    height: 126px;
    border:2px solid #3ba8c0;
    border-radius: 6px;
}
.work-site{
    text-align: center;
    color:#3ba8c0;
}
.work-description{
    text-align: center;
}
/*эффект при наведении*/
.work-site{
    text-align: center;
    color:#3ba8c0;
}
.work-description{
    text-align: center;
}
.work-item{
    width: 180px;

    margin-left: 23px;
    margin-bottom: 30px;
    display: inline-block;
    vertical-align: top;
}   
.work-site{
    text-align: center;
    color:#3ba8c0;
}
.work-description{
    text-align: center;
}
.effect {
  position: relative;
}  
.effect img {
    width: 178px;
    height: 128px;
    border: 2px solid #3ba8c0;
    border-radius: 6px;
}
.eff-2-2 .caption {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #fff;
  opacity: 0;
  text-align: center;
  -o-transition: all 0.5s linear 0s;
  -webkit-transition: all 0.5s linear 0s;
  -moz-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}
.eff-2-2 .caption span {
  text-align: center;
  opacity: 0;
  border:2px solid #fff;
  padding: 5px;
  margin: 0 20px;
  border-radius: 3px;
  display: block;
  -o-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.effect .caption a{
padding:46px 0px 46px 0px;
width: 180px;
overflow: hidden;
position: absolute;
background: rgba(1,108,164,0.7);
border-radius: 5px;
text-decoration: none;
color: #fff;
} 
.eff-2-2:hover .caption,.eff-2-2:hover .caption span {
  opacity: 1;
}
/*конец-эффект при наведении*/
/*END-страница мои работы*/

/*страница контакты*/

.contact-form{
    width: 404px;
    margin: 0 auto;
    padding-bottom: 17px;
    font-family: 'fira_sansbook';
}
.contact-form .wrap-input{
    margin: 1%;
    width: 48%;
    float: left;
}
.contact-form .wrap-controls{
    clear:both;
    margin: 1%;
}
.contact-form .contact-text{
    clear:both;
    margin: 1%;
    color: #9ca1ae;


}
.contact-form .wrap-textarea{
    margin: 1%;
}
.contact-form .captcha-number{
    height:60px;
    width:100%;
    border: 1px solid #48cbe8;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #fff;
    text-align: center;
}   
/*
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #48cbe8;
    border-radius: 3px;
    color: #48cbe8;
}*/

/*END - страница контакты*/

/*Логин*/
.login-page-header{
    font-family: 'fira_sansbook';
    font-size: 25px;
    font-weight: normal;
    color:#fff;
    border-bottom: 2px #3ba8c0 solid;
    padding: 20px 0; 
    margin: 0 0 40px;
    text-align: center;
    background: #48cbe8;
    border-bottom: 17px solid #67dffa;
    overflow: hidden;
    border-radius: 4px;
}
/**/
.login-content{
    width: 591px;
    margin: auto;
    border-radius: 4px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-form{
    width: 426px;
    margin: 0 auto;
    padding-bottom: 17px;
    font-family: 'fira_sansbook';
}
.login-form .wrap-input{
    margin: 1%;
    width: 100%;
}
.login-form  input{
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #48cbe8;
    border-radius: 3px;
    color: #48cbe8;
}

/**/






.contact-form textarea::-webkit-input-placeholder, .contact-form input::-webkit-input-placeholder {color:#48cbe8;}
.contact-form textarea::-moz-placeholder, .contact-form input::-moz-placeholder          {color:#48cbe8;}/* Firefox 19+ */
.contact-form textarea:-moz-placeholder, .contact-form input:-moz-placeholder           {color:#48cbe8;}/* Firefox 18- */
.contact-form textarea:-ms-input-placeholder, .contact-form input:-ms-input-placeholder      {color:#48cbe8;}

/*общие классы*/
.left{
    float: left;
}
.right{
    float: right;
}
.center{
    text-align: center;
}
.box-wrap{
    background: #eff3f7;
    border-radius: 4px;
}
.box-header{
    background: #48cbe8;
    border-bottom: 10px solid #67dffa;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-bottom:7px;
}
.box-content{
    padding-left: 15px;
    padding-right: 15px;
}
/*оформление инпутов и кнопок */
input,textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #48cbe8;
    border-radius: 3px;
    color: #48cbe8;
}

label{
    color: #9ca1ae;
    font-size: 19px;
}
input[name="cod"] {
    margin-top:12px;
}
input[type="submit"] {
    width: auto;
    padding: 5px 15px 3px;
    background-color: #48cbe8;
    border-radius: 5px;
    color: #fff;
    font-family: 'fira_sansbook';
    font-size: 19px;
    font-weight: 300;
    border: none;
    box-shadow: 0px 3px 0 0 #3ba8c0;
}
input[type="submit"]:hover,input[type="submit"]:focus{
    background-color: #76dcf3;
}
input[type="reset"]{
    width: auto;
    padding: 8px 21px 4px;
    border-radius: 5px;
    color: white;
    font-family: 'fira_sansbook';
    font-size: 19px;
    font-weight: 300;
    border: none;
    background-color: #849db5;
    box-shadow: 0 3px 0 0 #687b8f;
}
input[type="reset"]:hover,input[type="reset"]:focus{
    background-color: #aec4da;
}
/*input file*/
.mask-wrapper {
   height: 37px;
}
.mask-wrapper .send-file {
    position: absolute;
   padding: 3px 20px;
   color: #fff;
   background-color: #000;
   outline: none;
    z-index: 1;
    width: 50px;
}
.mask-wrapper .fileInputText {
   position: relative;
   outline: none;
   width: 100%;
   background: #fff;
}
.custom-file-input {
   width:100%;
   border: 1px solid red;
   opacity: 0;
   filter: alpha(opacity=0);
   position: relative;
   top: -47px;
   z-index: 99999;
   cursor: pointer;
}
/*конец - input file*/
/*конец - оформление инпутов и кнопок*/
/*конец - общие классы*/

/*popup*/
.popup-addworks {
    width:300px;
    display: block;
}
#add-project-popup{
    display: none;
}
.b-close{
height: 25px;
width: 25px;
position: absolute;
right: 15px;
background: url('../img/close.png');
border: 0;
}
/*
#popup-addworks{
    display: none;
}*/
/* конец popup*/

/*валидация*/
.hasError{
    border:2px solid red;
}
/*конец валидация*/